h1 {
    color: #333; /* Text color */
    text-align: center; /* Center the text */
    text-transform: uppercase; /* Convert text to uppercase */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}


body{
    background-color: aqua;
    /*background-image: 2019_02_25_07_30_IMG_8240.JPG;*/
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: "C:\Users\ACER\Desktop\mind session\2019_02_25_07_30_IMG_8240.JPG";
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}